body {

  text-align: center;
  color: #ffffff;
  background-color: #50031de0;
  background-image: linear-gradient(180deg, #172827,#1a2d3dc7,#7b899618);
 
}


navigationlinks{
  
    text-align: center;
    font-size: 38px;
}

a:link {
    color: rgb(255, 253, 253);
}

h1{
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

}
  
h2{
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/*
 *contains general description
 */
abouttext{
  
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 14px;
 
  
}


/*
 * Making image circle 
 */
.img-circle {
  border-radius: 50%;
}

/*
 * Main column and sidebar layout
 */

blog-main {
  
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
   margin: 0 +150px 10px;
}

a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(197, 197, 197);
}

/* selected link */
a:active {
  color: rgb(204, 204, 204);
}

otherbody {
  
    text-align: center;
    color: #ffffff;
    background-color: #e21937f3;
    background-image: linear-gradient(180deg, #172827,#1a2d3dc7,#7b899618);
  
   
  }