body {

  text-align: center;
  color: #ffffff;
  background-color: #50031de0;
  background-image: linear-gradient(180deg, #172827,#1a2d3dc7,#7b899618);

 
}


html {
  min-height: 100%;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  overflow:hidden;
  min-height:0px !important;
}

Table {
  width: 100%;
 
  border: 1px;
  min-width: 100%;
  position: relative;
  opacity: 0.97;
  background: transparent;
}

navigationlinks{
  
    text-align: center;
    font-size: 38px;
}

a:link {
    color: rgb(255, 253, 253);
}

h1{
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

}
  
h2{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

skills{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/*
 *contains general description
 */
abouttext{
  
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 14px;

}


/*
 * Making image circle 
 */
.img-circle {
  border-radius: 50%;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  
 
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
 

   /*change the value to suite ur need*/
  
 
}

a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(197, 197, 197);
}

/* selected link */
a:active {
  color: rgb(204, 204, 204);
}

otherbody {
  width:300px;
    text-align: center;
    color: #ffffff;
    background-color: #e21937f3;
    background-image: linear-gradient(180deg, #172827,#1a2d3dc7,#7b899618);
  
   
  }